<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    <title></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="nav-link active" href="/">Acceuil</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  href="/signup">Sing up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
        {% block content %}
            <h1>BIENVENU SUR NOTRE SITE</h1>
        {% endblock %}
    </div>
</body>
</html>
